.player-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);

    &__badge-holder {
        margin: 0 20px 0 0;
    }

    &__badge {
        display: block;
    }

    &__name {
        margin: 0;
        line-height: 1em;
        font-size: 1.25em;
    }
}